# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/.last_build_id

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# Mac related
*.DS_Store

# Windows related
Thumbs.db

# Android related
*.apk
*.aar
*.jks

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols
app.*.map.json

# Obfuscation related
app.*.map

# Ignore constants.dart file
lib/constants.dart